<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Get ready to Play!!!</h1>

  <h2>
    See how quickly you can rearrange the jumbled letters and form the right word
  </h2>
  <%= link_to "Take a look at the High Scores", highscore_path, class: "btn btn-primary" %><br/>
  <% if !signed_in? %>  
 <h2> <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %></h2>
  <% end %>
<br/>
<% if signed_in? && current_user.admin? %>
<% if Newwordstable.all.length>1 %>
<h2> <%= Newwordstable.all.length %> <%= link_to "New Requests", newword_path %> are waiting to be added!!</h2>
<% end %>
<% if Newwordstable.all.length==1 %>
<h2> <%= Newwordstable.all.length %> <%= link_to "New Request", newword_path %> is waiting to be added!!</h2>
<% end %>
<h2> <%= link_to "View all words!", showall_path %></h2>
<% end %>
</div>
<h4><%= link_to "Add Your Own Word here...",  newjumbled_path %></h4> 