<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<% if current_user==@user %><b>
Select any one the categories below and start unjumbling...!!</b>
<div class="column hero-unit">
	<ul>
	<li><%= link_to "Cartoon",  welcome_path %></li><br/>
	<li><%= link_to "Places & Cities", welcome_veg_path %></li><br/>
	</ul>
</div>
<% end %>
<% s=@user.scorecard %>
<% if !s.nil? %>
<b><%= @user[:name].titlecase %>'s Highscores......!!<br/></b>
<table class="table table-striped">
<thead>
  <tr>
   <% if s[:fruit]!= 0 %> <th>Cartoon</th><% end %>
    <% if s[:vegetable]!= 0 %><th>Places & Cities</th><% end %>
  </tr>
</thead>
<tr>
<% if s[:fruit]!= 0 %><td><%= s[:fruit] %></td><% end %>
<% if s[:vegetable]!= 0 %><td><%= s[:vegetable] %></td><% end %>
</tr>
<% end %>
</table>

