<% provide(:title, 'All users') %>
<h1>Words to be added</h1>
<% if @jumbled.length>0 %>
 <%= will_paginate %>
<ul class="users">
Word-Category-Hint<br/>
  <% @jumbled.each do |word| %>
    <li>
      <%= word[:ans] %>-<% if word[:category]=="fruit"%>Cartoon<% end %><% if word[:category]=="vegetable"%>Places & Cities<% end %>-<%= word[:hint] %> <%= link_to "save", {:controller => :newwordstable,:action => 'save', :ans => word[:ans] } %>
      |<%= link_to "delete", word, method: :delete,
                                  data: { confirm: "You sure?" } %>
    </li>
  <% end %>
</ul>
<br/><%= link_to "save all", savewordall_path %><br/>

<% else %>
All requests done
<% end %>
